Source: yoko-tools
Maintainer: Artem Bityutskiy <artem.bityutskiy@linux.intel.com>
Section: utils
Priority: optional
Build-Depends: debhelper (>= 9),
               python-all (>= 2.7),
               python-setuptools,
Standards-Version: 3.8.4
XS-Python-Version: >= 2.7

Package: yoko-tools
Architecture: all
Depends: python (>=2.7),
         ${misc:Depends},
         ${python:Depends},
Description: This package provides yokotool - a Linux command-line tool for
 controlling the Yokogawa WT310 power meter. Namely, it allows for configuring
 the power meter and reading the measurements data. There are also python
 modules which provide the power meter control APIs for external python
 programs.
